body {
  width: 10000px;

  color: #fff;
  font-family: arial;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
}

.bg {
  background-color: #222;
  background-image: url('http://lorempixel.com/1600/1600');
  position: fixed;
  width: 10000px;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
}


.move-me-not,
.move-me,
.move-me-2 {
  position: absolute;
  width: 80px;
  height: 80px;
  box-shadow:         -1px -1px 3px 0px rgba(50, 50, 50, 0.75);
}

.move-me-not {
  background-color: gray;
  top: 100px;
}

.move-me {
  background-color: aqua;
  top: 120px;
}

.move-me-2 {
  background-color: tomato;
  top: 140px;
}
