body {
  width: 10000px;

  color: #fff;
  font-family: arial;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
}

.bg {
  background-color: tomato;
  background-image: url('http://lorempixel.com/1600/1600');
  position: fixed;
  width: 10000px;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
}

.move-me,
.move-me-2 {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: aqua;
}

.move-me-2 {
  background-color: blue;
  top: 200px;
}
